$color: #778492;
$color-2: #1976D2;
$text-green: #4CAF50;
$btn-color: #2196F3;
$btn-color-2: #2196F3;
$text-color: #434343;
$text-color-secondary: #666;
$grey: #999;
$divider: #e8e8e8;
$lighter-grey: #ccc;
$darker-grey: #666;
$smoky-white: #f5f5f5;
$background: #DAE3E7;
$heart: #fb866a;
$darker-blue: #0277BD;
$orange: #FF9800;


































































